* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0b0f1a;
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
}

.logo {
  color: #38bdf8;
}
.logo span {
  color: #22c55e;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
}

.navbar a.active,
.navbar a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: linear-gradient(90deg, #38bdf8, #22c55e);
  color: #020617;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

/* PAGES */
.page {
  padding: 80px;
}

.card {
  background: #020617;
  padding: 20px;
  margin: 15px 0;
  border-left: 4px solid #38bdf8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
